<template name ="navbar">
<nav id="nav" class="navbg">
  <ul>
    <li class="on"> <a href="index.html">
      <div class="home_nav"></div>
      <p>首页</p>
      </a> </li>
    <li class=""> <a href="wd.html">
      <div class="classify_nav"></div>
      <p>问答</p>
      </a> </li>
    <li class=""> <a href="cp.html">
      <div class="nav3sty  cart_nav"></div>
      <p>测评</p>
      </a> </li>
    <li class=""> <a href="login.html">
      <div class="user_nav"></div>
      <p>我的</p>
      </a> </li>
  </ul>
</nav>
</template>